div{
    margin: auto;
    width: 80%;
}
.container-1 div{
    box-sizing: border-box;
    border: 2px solid rgb(14, 61, 24);
    margin: 2px;
  
   
}
.container-1{
    display: flex;
  }
.item-1,.item-2,.item-3,.item-4{
    flex: 1 1 25%;
}

.item-5{
    flex: 1 1 calc(75% + 2px);
}
.item-6{
    flex: 1 1 calc(25% - 1px);
}
.item-7{
    flex: 1 1 calc(25% - 1px);
}
.item-8{
    flex: 1 1 calc(75% + 2px);
}
.item-9,.item-10,.item-11,.item-12{
    flex: 1 1 50%;
}

.item-13, .item-14, .item-15{
    flex: 1 1 calc(100% / 3);
}
