#table{
    
    width: 100%;
    height: 100%;
    justify-content: center;
}
#table table{
    width: 50%;
    height: 50%;
    /* margin: auto; */
}
#form{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#form form{
    padding: 20px;
    border: 1px solid black;
    width: 50%;
    height: auto;
}