.container  {
    display: flex;
    flex-direction: row; 
    /* flex-wrap: wrap; */
    height: 400px;
    border: 1px solid black;
    justify-content: space-around;
    /* align-content: flex-start; */
    align-items: flex-start;
}
.container div{
    border: 1px solid green;
}

.item-1 {
    /* width: 200px; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px; */
    flex: 1 1 200px;
}

.item-2 {
    /* width: 200px; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px; */
    flex: 1 1 200px;
}

.item-3 {
    /* width: 200px; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px; */
    flex: 1 1 200px;
}
.item-4 {
    /* width: 200px; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px; */
    flex: 1 1 200px;
}
.item-5 {
    /* width: 200px; */
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px; */
    flex: 1 1 200px;
}
.item-6 {
    /* width: 200px; */
    /* flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 200px; */
    flex: 1 1 200px;
}