:root {
    --oneofthree: calc(1492px / 3);
    --percen: calc(100% / 3);
    --sub: calc(502px - var(--oneofthree));
}

.container {
    width: 1500px;
}

.flex-container-1 {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-between;
    margin: 5px 0px;
}

.item {
    border: 1px solid black;
}

.flex-item-1,
.flex-item-2,
.flex-item-3,
.flex-item-4 {
    flex-basis: calc(25% - 5px);
    background-color: aqua;
}


/* 1500 / 4 = 375 +2px border 2 been laf 377 e tao ra space-between giua cac khoi la 4px. nen la tong khoang cach 4 khoi la 1488 / 4 = 372px. 377-372 = 5px => calc(25%-5%) */

.flex-container-2 {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-between;
    margin: 5px 0px;
}

.flex-item-5 {
    background-color: red;
    flex-basis: calc(75% - 3px);
}


/*
de 1 khoi can voi phan ben tren 1 phan se la 372px => phan con lai la 1124px(phan 75%). 3/4*1500 = 1125 +2 border = 1127 => phai tru di 1127-1124 = 3px => ham calc(75% -3px)
ham 25% nhu cu
*/

.flex-item-6 {
    background-color: green;
    flex-basis: calc(25% - 5px);
}

.flex-container-3 {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-between;
    margin: 5px 0px;
}

.flex-item-7 {
    background-color: red;
    flex-basis: calc(25% - 5px);
}

.flex-item-8 {
    background-color: green;
    flex-basis: calc(75% - 3px);
}

.flex-container-4 {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-between;
    margin: 5px 0px;
}

.flex-item-9 {
    background-color: red;
    flex-basis: calc(50% - 4px);
}

.flex-item-10 {
    background-color: green;
    flex-basis: calc(50% - 4px);
}


/* khoang cach = 4px. co 1 khoang trong => tong chieu dai = 1496 => 1 khoi = 748px. 1500/2 = 750 +2px border = 752px => phai tru di 752 -748 = 4px => ham calc(50% -4px)  */

.flex-container-6 {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-between;
    margin: 5px 0px;
}

.flex-item-11 {
    background-color: rgb(234, 0, 255);
    /* flex-basis: calc(calc(100% / 3) - calc(1492px - 5px)); */
    flex-basis: calc(var(--percen) - var(--sub));
}

.flex-item-12 {
    background-color: rgb(234, 0, 255);
    flex-basis: calc(var(--percen) - var(--sub));
}

.flex-item-13 {
    background-color: rgb(234, 0, 255);
    flex-basis: calc(var(--percen) - var(--sub));
}


/* khoang cach 4px => co 2 khoang trong tong chieu dai 1492 => 1 khoi 497.3333
1500/3 = 500px +2px = 502px - 497.33 => em dat variable de tinh toan chinh xac   */